extends layouts/common.pug

block content
	nav(class="navbar navbar-light bg-light")
		a(class="navbar-brand", href="#")
			img(src="/images/twitter.svg", width="30", height="30", class="d-inline-block align-top mr-2", alt="")/ Contacts
		ul(class="nav justify-content-end") 
			li(class="nav-item") 
				a(class="nav-link", href="/users") Users
			li(class="nav-item") 
				a(class="nav-link", href="/users") Search
			li(class="nav-item") 
				a(class="nav-link", href="users/create") Create

	h1 Hello #{name}
	a(href='/users') Users