extends ../layouts/common.pug

block content	
	h1 Create user

	form(class="form-inline", action="/users/create", method="POST")
		div(class="form-group mx-sm-3 mb-2")
			label(class="mr-2") Name
			input(class="form-control", name="name", type="text")
		button(class="btn btn-primary mb-2") Create