extends ../layouts/common.pug

block content		
	h1 Users list

	a(class="btn btn btn-primary", href="users/create") Creat user

	form(class="form-inline mb-3 mt-3", action="/users/search", method="GET")
		div(class="form-group")
			input(type="text", class="form-control", name="q" value=inputValue)
		button(class="btn btn-success ml-2") Search

	table.table
		tr
			th Name
			th Phone
			th Actions

		each user in users
			tr
				td= user.name
				td= user.phone
				td
					a(class="btn btn btn-info", href="/users/" + user.id) View 